<h1>All players</h1>
	<%= will_paginate %>
	<ul class='index'>
		<% @players.each do |player| %>		
			<li>
				<%= gravatar_for(player) %>
				<%= link_to "#{player.first_name} #{player.last_name}", player %>
			</li>
		<% end %>
	</ul>
	<%= will_paginate %>




    













  